// Specific CSS for your home-page
h1{
  font-weight: 300;
  font-size: 24px;
}

h1 a{
  color: white;
  text-decoration: none;
}

h1 a:hover{
  color: white;
  text-decoration: none;
}


h2{
  font-size: 56px;
}

h6{
  font-family: 'Poppins', sans-serif;
}

h6{
  background-color: #B77676;
  padding: 10px 36px;
  border-radius: 24px;
}

li{
  list-style-type: none;
}

h6 a {
  color: white;
  text-decoration: none;
}

h6 a:hover{
  color: white;
  text-decoration: none;
}

.nav-bar i{
  text-decoration: none;
  color: white;
  opacity: 1;
}

.nav-bar i:hover{
  opacity: 0.9;
}

.header-text #title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  z-index: 1;
  font-weight: 400;
}

.header-text #subtitle{
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  font-weight: 400;
}

.header-text #title .color-pink{
  color: #B77676;
}

.header-text #subtitle .color-pink{
  color: #B77676;
}

.search-bar{
  width: 45%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.my-container{
  background-color: black!important;
  position: relative;
}


.my-container img{
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  object-position: 100% 0;
  object-fit: cover;
}

.nav-bar .left i{
  font-size: 24px;
}

#sign-up-rounded{
  background-color: #CAA8A8;
}

#sign-up-rounded:hover{
  background-color: #B77676;
}

#sign-out:hover{
  background-color: #CAA8A8;
}
