<div class="main-container d-flex justify-content-between">
  <div class="cards">
    <p>Card goes here</p>
  </div>
  <div class="map ">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe width="500" id="gmap_canvas" src="https://maps.google.com/maps?q=osaka%20university&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0">
        </iframe>
      </div>
      <style>
    </style>
    </div>
  </div>
</div>
