<div class="avatar-image my-5">
     <%= cl_image_tag (@lesson.user.avatar), class: "avatar-large" %>
</div>

<div class="container">
  <div class="lesson-desc">

  </div>
  <div class="lesson-map">

  </div>
</div>
