h3{
  font-weight: 300;
}

h6{
  font-family: 'Poppins', sans-serif;
}

h6{
  background-color: #B77676;
  padding: 10px 36px;
  border-radius: 24px;
}

#sign-up-rounded{
  background-color: #CAA8A8;
}
