// Specific CSS for your forms

.a-container {
  background-color: #C4C4C4;
}

.a-container h2{
  color: #353A3F;
}

.form-sign-up {
  padding: 10px 36px;
  border-radius: 24px;
  background-color: #CAA8A8;
  color: white;
}

.form-sign-up:hover {
  color: white;
  background-color: #B77676;
}

.form-log-in {
  padding: 10px 36px;
  border-radius: 24px;
  background-color: #B77676;
  color: white;
}

.form-log-in:hover {
  background-color: #CAA8A8;
  color: white;
}

.links a{
  color: white;
}
