.gray-background {
  background-color: #595959;
  width: 750px;
  color: white;
  border-radius: 4px;
}

.form-category {
  width: 240px;
}

.form-duration {
  width: 120px;
  border-radius: 4px;
}

.form-price {
  width: 160px;
  border-radius: 4px;
}

.form-city {
  width: 200px;
  border-radius: 4px;
}

.form-address {
  border-radius: 4px;

}

.form-detail {
  border-radius: 4px;
}
