.gray-background {
  background-color: #C4C4C4;
}

.form-category {
  width: 240px;
}

.form-duration {
  width: 120px;
}

.form-price {
  width: 160px;
}

.form-city {
  width: 200px;
}

.form-address {

}

.form-detail {

}
