ul{
  padding: 0 0;
  list-style-type: none;
}

.cards{
  width: 100vw;
  background-color: #F4F4F4!important;
}

.card{
  background-color: white;
  border-radius: 8px;
}

.cards a{
  color: #353A3F;
  text-decoration: none;
}

.card:hover {
  text-decoration: none;
  background-color: #66b2b2;
  color: white;
}

.map{
  width: 1000px;
}

.submit-button{
  background-color: #009999!important;
  border-color: #009999!important;
  border-radius: 6px;
}

.submit-button:hover{
  background-color: #5fafca!important;
  border-color: #5fafca!important;
}

.search-keyword{
  border-radius: 6px;
}

.search-date{
  border-radius: 6px;
}

.float-up {
  width: 63%;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
  -webkit-animation-name:float-up;
  -moz-animation-name:float-up;
  -o-animation-name:float-up;
  animation-name:float-up;
  -webkit-animation-iteration-count:1;
  -moz-animation-iteration-count:1;
  -o-animation-iteration-count:1;
  animation-iteration-count:1;
  -webkit-animation-timing-function:ease-out;
  -moz-animation-timing-function:ease-out;
  -o-animation-timing-function:ease-out;
  animation-timing-function:ease-out;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  position: absolute;
}
@-webkit-keyframes float-up {
    0% {
        top:300px;
        opacity:0;
    }
    25% {
        opacity:1;
    }
    35% {
        top:160px;
    }
    100% {
        top:160px;
    }
}

#map{
  position: sticky;
  top: 0;
}

