.gmap_canvas{
  position: sticky;
  top: 0;
}

.mapouter{
  position:relative;
  text-align:right;
  height:100vh;
  width:500px;}

.mapouter{
  position:relative;
  text-align:right;
  height:100vh;
  width:500px;}

#gmap_canvas {
  height: 100vh;
}
