ul{
  padding: 0 0;
  list-style-type: none;
}

.cards{
  width: 100vw;
  background-color: #F4F4F4!important;
}

.card{
  background-color: white;
  border-radius: 8px;
}

.cards a{
  color: #353A3F;
  text-decoration: none;
}

.card:hover {
  text-decoration: none;
  background-color: #66b2b2;
  color: white;
}

.map{
  width: 1000px;
}

.submit-button{
  border-radius: 6px;
}

.search-keyword{
  border-radius: 6px;
}

.search-date{
  border-radius: 6px;
}

#map{
  position: sticky;
  top: 0;
}
 .popup-category {
  padding-top: 8px;
 }

 .popup-info {
  font-size: 12px;
 }
