.user-container {

}

// .nav-item {
//   background-color: #C4C4C4;
// }

.tab-container {
  background-color: #C4C4C4;
  // height: 800px;
}

.cards {
  background-color: #C4C4C4;
}

.red-button {
  width: 280px;
  padding: 10px 36px;
  border-radius: 24px;
  font-family: Rubik;
  font-size: 22px;
  color: #FFFFFF;
}

button.red-button {
  width: 210px;
  padding: 10px 36px;
  border-radius: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.0;
  color: #FFFFFF;
  background-color: #429F9E;
  outline: none;
  border-color: transparent;
  &:hover {
    background-color: #367588;
  }
}

.form-create {
  padding: 10px 36px;
  border-radius: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.0;
  color: white;
  background-color: #429F9E;
  &:hover {
    background-color: #367588;
    color: white;
  }
}

.nav-tabs .nav-link.active {
  background-color: #C4C4C4;
  border-color: transparent;
  color: blue;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.nav-tabs .nav-link {
  border-color: transparent;
  color: blue;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border: solid 1px #C4C4C4;
  &:hover {
    border: solid 1px #C4C4C4;
  }
}

.fa-trash-alt {
  position: absolute;
  right: 0px;
  bottom: 16px;
  width: 40px;
  font-size: 24px;
}

#appointment-alert {
  color: red;
  border: solid 1px red;
  padding: 4px 8px;
}

#appointment-notice {
  color: blue;
  border: solid 1px blue;
  padding: 4px 8px;
}
